@import "../../responsive.scss";

.chat {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 998;
  
    @include sm {
      height: 100%;
      width: 100%;
      right: 0;
    }

    .messages {
      background-color: #ffffff;
      box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border: 1px solid #e3e1e1 ;
      width: 300px;
      @include sm {
        height: 100%;
        border: none;
        width: 400px;
      }

      .messages-list {
        transition: all 0.5s ease;
        height: 0 ;
        width: 0;
        opacity: 0;
  

        &.active {
          display: flex;
          height: 300px;
          opacity: 1;
          width: 300px;
          flex-direction: column;
          gap: 2px;
          overflow-x: hidden;

          @include sm {
            height: 100%;
            width: 400px !important;
          }
        }

        .notFound- {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 10px;
          padding-top: 100px;
          p {
            font-size: 10px;
            font-weight: 400;
            color: #333;
          }

          svg {
            display: flex;
            margin: 0 auto;
          }


        }
      }

      .box {
        padding: 8px 30px 8px 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        
        @include sm {
          background-color: #333;
          padding-block: 1rem;
        }

        .arrow-up, .arrow-down {
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
           background-color: #e3e1e1;
            border-radius: 50%;
            padding: 2px;
          }
        }
        
        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        div {
          display: flex;
          align-items: center;
          gap: 10px;
        }

        img{
          width: 25px;
          height: 25px;
          border-radius: 50%;
          object-fit: cover;

          @include sm {
            width: 45px;
            height: 45px;
          }
        }

        div {
          div {
            display: flex;
            flex-direction: column;
            gap: 0px;
            align-items: start;
            
            h1 {
              font-size: 15px;
              font-weight: 400;
              @include sm {
                color: white;
                font-size: 18px;
                font-weight: 400;
                font-family: cursive;
              }
            }

            p {
              font-size: 10px;
              color: #e3e1e1;
              letter-spacing: 0.025em;
              font-weight: 200;
            }
          }

        p {
          span {
            color: #e3e1e1;
            position: relative;
            bottom: 7px;
            right: 13px;
            font-size: 10px;

            @include sm {
              color: #333;
              right: 18px;
              bottom: 11px;
            }
          }
        }
        }
      }
      
      .message {
        width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        @include sm {
          padding: 10px;
        }
        
        div {
          width: 80%;
          display: flex;
          flex-direction: column;
          
        span {
          display: flex; 
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 8px;
            color: #333;
            font-weight: 200;
            margin-top: 2px;
          }
        }

          &::after {
            content: '';
            display: block;
            background-color: #e3e1e1;
            height: 1px;
            width: 100%;
            margin-top: 10px;

          }
        }

        .online-indicator {
          color: green;
          font-size: 20px;
          margin-left: 5px;
          position: relative;
          right: 255px;
          top: 12px;
          z-index: 1;
        }

        .online-indicator::before {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 50%;
          top: 7.2px;
          left: 0.5px;
          z-index: -1;

          @include sm {
            right: 343px;
          }
        }
        
        
        
        .offline-indicator {
          color: red;
          font-size: 20px;
          margin-left: 5px;
          position: relative;
          right: 255px;
          top: 12px;
          z-index: 1;

          @include sm {
            right: 343px;
          }
        }

        .offline-indicator::before {
          content: '';
          position: absolute;
          width: 11px;
          height: 11px;
          background-color: white;
          border-radius: 50%;
          top: 7.2px;
          left: 0.5px;
          z-index: -1;
        }

        img {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
        }
        
        div {
          span {
            font-size: 14px;
            font-weight: 400;
            margin-top: 10px;
          }
          
          p {
            font-size: 11px;
            color: #333;
            letter-spacing: 0.025em;
            font-weight: 200;
            margin-top: 2px;
          }
        }

        span {
          font-weight: bold;
        }
      }
    }
    
    .chatBox {
      position: fixed;
      bottom: 0;
      right: 400px;
      height: 0;
      width: 350px;
      transition: all 0.5s ease;
      opacity: 0;
      z-index: 2;
      @include sm {
       width: 100%;
       height: 100%;     
      }

      @include md {
        right: 0;
      }

      @keyframes expandHeight {
        0% {
          height: 0;
        }
        100% {
          height: 480px;
        }
      }

      &.active2 {
        animation: expandHeight 1s ease forwards;
        opacity: 1  ;
      }


      .top {
        background-color: white;
        padding: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          .top-online-indicator {
            color: green;
            font-size: 20px;
            margin-left: 5px;
            position: relative;
            right: 187px;
            top: 11px;
            z-index: 1;
          }

          .top-online-indicator::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background-color: white;
            border-radius: 50%;
            top: 7.1px;
            left: 0.5px;
            z-index: -1;
          }

          .top-offline-indicator {
            color: red;
            font-size: 20px;
            margin-left: 5px;
            position: relative;
            right: 187px;
            top: 11px;
            z-index: 1;
          }

          .top-offline-indicator::before {
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background-color: white;
            border-radius: 50%;
            top: 7.1px;
            left: 0.5px;
            z-index: -1;
          }

          div {
            width: 150px;
          }

          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
            border: 1.5px solid white;
            position: relative;
            z-index: 1;
          }

          span {
            font-size: 12px;
            color: #333;
          }

          p {
            font-size: 8px;
            color: #333;
            letter-spacing: 0.025em;
          }
        }
        .close {
          cursor: pointer;
          position: relative;
          z-index: 1;

          &:hover {

            &::before {
              content: 'Fechar';
              position: absolute;
              background-color: #333;
              color: white;
              padding: 5px;
              border-radius: 5px;
              font-size: 10px;
              bottom: 30px;
              left: 20px;
              z-index: 1;
            }
          }
        }
      }
      
      .center {
        height: 350px;
        overflow: scroll;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
        background-color: #f7f7f7;

          .myMessage {
          align-self: flex-end;
          text-align: left;
          background-color: #333;
          border-radius: 1.125rem 1.125rem 0 1.125rem;
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
          max-width: 80%;
          word-break: break-all;


          p {
            padding: 8px;
            font-size: 12px;
            margin-inline: 10px;
            letter-spacing: 0.025em;
            color: white;
          }
          
        }

        .otherMessage {
          align-self: flex-start;
          text-align: left;
          background-color: white;
          border-radius: 1.125rem 1.125rem 1.125rem 0;
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
          max-width: 80%;
          word-break: break-all;
          margin-left: 16px;
          p {
            padding: 8px;
            font-size: 12px;
            margin-inline: 10px;
            letter-spacing: 0.025em;
            color: #333;
          }

        }
        
        .receiver-user {
          img {
            position: relative;
            width: 30px;
            height: 30px;
            bottom: 15px;
            right: 15px;
            border-radius: 50%;
            object-fit: cover;
          } 
        }
      }
      .bottom {
        border-top: 2px solid #9ac5c8;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        textarea{
          flex:3;
          height: 100%;
          border: none;
          padding: 20px;
        }
  
        button{
          flex:1;
          background-color: #9ac5c8;
          height: 100%;
          border: none;
          cursor: pointer;
        }
      }
    }
  }